.iconList {
    li {
        display: inline-block;
        margin-right: 2rem;

        a {
            color: $color-dark;
        }
    }
}

.footerLinks {
    li {
        a {

            &:link,
            &:visited {
                color: $color-white;
            }

        }
    }
}